<!DOCTYPE html>
<html>
<head>
   <meta charset="UTF-8">
    <title>글쓰기</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/writing.css" >
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
     <script src="https://code.jquery.com/jquery-3.6.1.js"
        integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI=" crossorigin="anonymous"></script>
    <!-- summernote -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote-bs4.js"></script>
</head>

<body>
<div id="cursor">
    <div class="cursor__inner"></div>
</div>
    <div class="container">
        <!-- <h2 class="main_title">게시판 글쓰기</h2> -->
        <div>
            <div class="form-group">
                <label for="title" class="text_title">제목</label>
                <input type="text" class="form-control" id="board_title" placeholder="제목 입력(4-100)" name="board_title"
                    maxlength="100" required="required" pattern=".{4,100}">
            </div>
            <div class="form-group">
                <div id="summernote"></div>
            </div>
            <div class="form-group">
                <label for="writer" class="text_title">작성자</label>
                <input type="text" class="form-control" id="board_writer" placeholder="작성자(2자-10자)"  name="board_writer">
            </div>
            <button class="submit_btn" onclick="board_insert()">등록하기</button>
        </div>
    </div>
</body>
<script>
    $('#summernote').summernote({
        placeholder: '내용을 입력해주세요',
        tabsize: 2,
        height: 300
    
    });
    
   function board_insert(){
	    var summernoteContent = $('#summernote').summernote('code');
	    var today = new Date();
		
	    //여기서 현재 날
	    var year = today.getFullYear();
	    var month = ('0' + (today.getMonth() + 1)).slice(-2);
	    var day = ('0' + today.getDate()).slice(-2);

	    var dateString = year + '-' + month  + '-' + day;

	    console.log(dateString);
	   
	    const title = $('#board_title').val();
	    const writer = $('#board_writer').val();
	   
	   const boardVo ={
			   "board_title":title,
			   "board_text":summernoteContent,
			   "board_writer":writer,
			   "board_day":dateString
	   }
	  
	   $.ajax({
		   method: "POST",
	   	   url: "/board_insert",
           contentType: "application/json",
           dataType: "json",
           data: JSON.stringify(boardVo),
           success: function (result) {
        	   console.log(result)
   
        	   if(result.msg=="SUCCESS"){
        		   
        		   alert("게시글 등록이 완료되었습니다.")
        	   	   location.href="/index_main";
        	    
        	   }else{
        		   alert("빈칸없이 입력해주세요.");
        	   }
        	   
           },error:function(){
        	   console.log("faild")
           }
	   })
	   
   } 
    
</script>
<!--  
<script>
    $.ajax({
        type:'POST',
        url:'index',
        dataType:'json',
        contentType:'application/jason; charset="utf-8',
        data:JSON.stringify(data)
    }).done(function(){
        alert('글이 등록되었습니다');
        location.href = '/';
    })
    
</script>
-->

</html>
