<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="one.onebitten.dao.UserDao">

	<resultMap id="User" type="one.onebitten.vo.UserVo">
		<id column="ID" property="user_id" jdbcType="VARCHAR" />
		<id column="NAME" property="user_name" jdbcType="VARCHAR" />
		<id column="PWD" property="user_passwd" jdbcType="VARCHAR" />
		<id column="EMAIL" property="user_email" jdbcType="VARCHAR" />
		<id column="GROUP" property="group_name" jdbcType="VARCHAR" />
	</resultMap>
	
	<resultMap type="one.onebitten.vo.BoardVo" id="Board">
		<id column="NUM" property="board_num" jdbcType="INTEGER" />
		<id column="TITLE" property="board_title" jdbcType="VARCHAR" />
		<id column="DAY" property="board_day" jdbcType="VARCHAR" />
		<id column="WRITER" property="board_writer" jdbcType="VARCHAR" />
		<id column="TEXT" property="board_text" jdbcType="VARCHAR"/>
 	</resultMap>
 	
 	<resultMap type="one.onebitten.vo.GroupVO" id="Group">
 		<id column="GROUP_NUM" property="group_num" jdbcType="INTEGER" />
 		<id column="GROUP_ALIAS" property="group_alias" jdbcType="VARCHAR" />
 		<id column="GROUP_NAME" property="group_name" jdbcType="VARCHAR"/>
 	</resultMap>
 	
 	
 	<select id="id_check" resultMap="User">
 		SELECT * FRIOM 
 	</select>
 	
 	<select id="group_list" resultMap="Group">
 		SELECT * FROM USERS_GROUP
 	</select>
 	
 	<delete id="board_delete" parameterType="one.onebitten.vo.BoardVo">
 		DELETE FROM BOARD WHERE NUM=#{board_num}
 	</delete>
 	
 	<update id="board_update">
 		UPDATE BOARD SET TITLE=#{board_title},DAY=#{board_day},TEXT=#{board_text},WRITER=#{board_writer}
 		WHERE NUM=#{board_num}
 	</update>
	
	<insert id="board_insert" parameterType="one.onebitten.vo.BoardVo">
		INSERT INTO BOARD(NUM, TITLE, DAY, WRITER, TEXT)
		VALUES(NULL,#{board_title},#{board_day},#{board_writer},#{board_text})
	</insert>
	
	<select id="check_board" resultMap="Board">
		SELECT * FROM BOARD WHERE num=#{board_num}
	</select>

	<insert id="UserRegister" parameterType="one.onebitten.vo.UserVo">
		INSERT INTO USERS(ID, NAME, PWD, EMAIL, GROUP)
		VALUES(#{user_id},#{user_name},#{user_passwd},'',0)
	</insert>
	
	<select id="login_check" resultMap="User">
		SELECT * FROM USERS WHERE id=#{user_id}
	</select>
	
	<select id="board_list"  resultMap="Board">
		SELECT * FROM BOARD
	</select>


</mapper>