<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="one.onebitten.dao.UserDao">

	<resultMap id="User" type="one.onebitten.vo.UserVo">
		<id column="ID" property="user_id" jdbcType="VARCHAR" />
		<id column="NAME" property="user_name" jdbcType="VARCHAR" />
		<id column="PWD" property="user_passwd" jdbcType="VARCHAR" />
		<id column="EMAIL" property="user_email" jdbcType="VARCHAR" />
		<id column="AUTH" property="user_auth" jdbcType="INTEGER" />
	</resultMap>

	<insert id="UserRegister"
		parameterType="one.onebitten.vo.UserVo">
		INSERT INTO MEMBERS(ID, NAME, PWD, EMAIL, AUTH)
		VALUES(#{user_id},#{user_name},#{user_passwd},'',0)
	</insert>
	<select id="login_check" resultMap="User">
		SELECT * FROM MEMBERS WHERE id=#{user_id}
	</select>


</mapper>